<form action="/delete-task" method="post">
    <input type="hidden" name="method" value="delete">
    <input type="hidden" name="username" value="{{username}}">
    <input type="hidden" name="id" value="{{id}}">
    <input type="submit" value="Delete" class="delete-button" data-id="{{id}}">
</form>