<h1>Welcome to Task Manager!</h1>
<h2>Log in, please</h2>
<form action="/login" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="username" placeholder="Username" required>
    <input class="login-submit-btn" type="submit" value="Log in">
</form>